body {
  font-family: "Plus Jakarta Sans", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  scroll-behavior: smooth;
}

.container {
  flex: 1;
}

/* Cards */

/* Temp */
.row{
  width: 100% !important; 
}

.listing-card {
  border: none !important;
  margin-bottom: 2rem;
}

.card-img-top {
  border-radius: 1rem !important;
  width: 100% !important;
  object-fit: cover !important;
}

.card-body {
  padding: 0 !important;
}

.card-text p {
  font-weight: 400;
}

.listing-link {
  text-decoration: none;
}

/* Card Effect */
.card-img-overlay {
  opacity: 0;
}

.card-img-overlay:hover {
  opacity: 0.2;
  background-color: white;
}

#display-card{
  margin: 0 auto !important;
  margin-top: 50px !important;
}

/* Temp */

@media (max-width: 768px){
   .listing-link{
    /* display: block !important; */
    margin: 0 auto !important;
    margin-top: 10px !important;
   }
}

/* New Page */
.add-btn {
  background-color: #fe424d !important;
  border: none !important;
}

/* Edit Page */
.edit-btn {
  background-color: #fe424d !important;
  border: none !important;
}

/* Show Page */
.show-img {
  height: 40vh;
}

.btns {
  display: flex;
}

.show-card {
  padding-left: 0;
  padding-right: 0;
}

@media (max-width: 768px){
  .btns .edit-btn{
    width: 60px;
  }
  .show-card, .review{
    width: 90% !important;
    margin: 0 auto !important;
  }
  .show-container{
    margin: 0 auto !important;
  }
  .edit-btn{
    margin: 0 !important;
  }
  .btns{
    height: 37.33px;
  }
}


/* Map */

/* Temp */
.map-wrapper{
  width: 80%;
  display: flex;
  justify-content: center;
}

#map{
  height: 400px;
  width: 80%;
  border-radius: 1rem;
}

@media (max-width: 768px) {
  .map-wrapper{
    width: 90%;
  }
  #map{
    height: 300px;
    width: 90%;
  }
}


.book-btn{
  background-color: #fe424d !important;
}

.book-btn:hover{
  opacity: 0.8;
}